@import url("reset.css");
@import url("theme.css");

/* Custom Styles */

body {
  display: grid;
  padding: 25px 20px;
  background-color: var(--clr-primary-300);
  font-family: var(--ff-primary);
  place-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  max-width: 570px;
  border-radius: 1rem;
  background-color: var(--clr-neutral-100);
  overflow: hidden;
}

.card>* {
  flex: 1;
}

.card-body {
  max-width: 275px;
  padding: 30px;
}

.card-body>*+* {
  padding-bottom: 20px;
}

.card-secondary-heading {
  padding-bottom: 10px;
  color: var(--clr-neutral-200);
  font-size: var(--fs-300);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.card-primary-heading {
  color: var(--clr-neutral-900);
  font-family: var(--ff-secondary);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  line-height: 2rem;
}

.card-text {
  color: var(--clr-neutral-200);
  font-size: var(--fs-400);
}

.pricing {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.price {
  color: var(--clr-primary-400);
  font-family: var(--ff-secondary);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

.old-price {
  color: var(--clr-neutral-200);
  font-size: var(--fs-400);
  text-decoration: line-through;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.85rem;
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(158deg 37% 25%);
}

.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228deg 45% 44%);
}

@media screen and (max-width: 650px) {
  .card {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .card-body {
    max-width: 100%;
    padding: 25px;
  }
}